<!--Begin navigation bar-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Seattle Board Game Group</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/homepage/{{model.fromusername}}">Home</a></li>
                <!--Begin Profile Dropdown-->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Profile <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/user"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Account</a></li>
                        <li>
                            <a href="#/homepage/{{model.fromusername}}/message"><i class="fa fa-envelope" aria-hidden="true"></i> Mailbox</a></li>
                        <li>
                            <a href="#/homepage/{{model.fromusername}}/collection"><i class="fa fa-archive" aria-hidden="true"></i> Collections</a></li>
                        <li><a href="#"><i class="fa fa-history" aria-hidden="true"></i> Trade History</a></li>
                        <li><a ng-click="model.logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out</a></li>
                    </ul>
                </li>
                <!--End Profile Dropdown-->
                <!--Begin Search Dropdown-->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Search <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/homepage/{{model.fromusername}}/hot"><i class="fa fa-fire" aria-hidden="true"></i> Hot</a></li>
                        <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i> Find a Game</a></li>
                    </ul>
                </li>
                <!--End Search Dropdown-->
                <!--Begin Trade Dropdown-->
                <li class="dropdown active">
                    <a class="dropdown-toggle" data-toggle="dropdown">Trades <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/homepage/{{model.fromusername}}/collection"><i class="fa fa-archive" aria-hidden="true"></i> See My Collections</a></li>
                        <li><a href="#"><i class="fa fa-hdd-o" aria-hidden="true"></i> See All Collections</a></li>
                        <li><a href="#/homepage/{{model.fromusername}}/search"><i class="fa fa-search-plus" aria-hidden="true"></i> Search a Collection</a></li>
                    </ul>
                </li>
                <!--End Trade Dropdown-->
            </ul>
        </div>
    </div>
</nav>
<!--End navigation bar-->


<!-- Page Content -->
<div class="container">

    <!--Begin Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Reply
                <small>user for collection trading</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/homepage/{{model.fromusername}}">Home</a></li>
                <li><a href="#/user">My Profile</a></li>
                <li><a href="#/homepage/{{model.fromusername}}/message">Message</a></li>
                <li class="active">Reply</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <!--End Page Heading/Breadcrumbs -->

    <!-- Content Row -->
    <div class="row">
   <!-- Contact Details Column -->
        <div class="col-md-4">
            <h3>User Basic Info</h3>
            <p><i class="fa fa-id-card"></i>  Username: {{model.fromusername}}</p>
            <p><i class="fa fa-calendar"></i>  Member Since: {{model.fromuser.dateCreated | date:'MM/dd/yyyy'}}</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li>
                    <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
        <div class="col-md-8">
            <h3>Reply to User {{model.tousername}}</h3>
            <form name="sentMessage" id="contactForm" novalidate>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Message:</label>
                        <textarea ng-model="model.message" rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                    </div>
                </div>
                <div id="success"></div>
                <!-- For success/fail messages -->
                <button ng-click="model.sendUserMessage()" class="btn btn-primary">Send Message</button>
            </form>
        </div>

    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Bender Business 2016</p>
            </div>
        </div>
    </footer>

</div>