<!--header-->
<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <p class="navbar-text pull-right"><a href="#/website/new" class="navbar-link"><span class="glyphicon glyphicon-plus"></span></a></p>
            <p class="navbar-text pull-left"><a href="#/profile" class="navbar-link"><span class="glyphicon glyphicon-arrow-left"></span></a></p>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Website</a>
            </div>
        </div>
    </nav>

    <!--content-->
    <div class="paddingWheader blueFont container-fluid">
        <ul class="list-group">
            <li ng-repeat="website in model.websites" class="list-group-item">
                <div class="listConf pull-right">
                    <a href="#/website/{{model.website._id}}">
                        <span class="glyphicon glyphicon-cog"></span></a>
                </div>
                <a href="#/page/list/{{website._id}}/page">
                   {{website.name}}
                </a>
            </li>
        </ul>
    </div>


    <!--footer-->
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-footer">
                <p class="navbar-text pull-right">
                    <a href="#/website/new" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span></a></p>
            </div>
        </div>
    </nav>
</div>
