input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 36px;
}

.container {
    width: 900px;
    margin-top:50px
}

.container-fluid {
    overflow: hidden;
}

.border-right {
    border-right: 1px solid grey;
}
.padding {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.paddingWheader {
    padding-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
}
.blueFont {
    color: steelblue;
}
.headertoleft {
    width: 20px;
    margin: 20px;
    left: 0px;
    top: 2px;
    position: absolute;
}

.headtext {
    left: 60px;
    top: 3.5px;
    position: absolute;
}

.headertoright {
    width: 20px;
    margin: 20px;
    left: 800px;
    top:2px;
    position:absolute;
}

.space{
    padding-top: 10px;
}

/*@media (min-width: 768px) {*/
    /*.dl-horizontal dt {*/
        /*float: left;*/
        /*width: 160px;*/
        /*overflow: hidden;*/
        /*clear: left;*/
        /*text-align: right;*/
        /*text-overflow: ellipsis;*/
        /*white-space: nowrap;*/
    /*}*/
    /*.dl-horizontal dd {*/
        /*margin-left: 180px;*/
    /*}*/
/*}*/

/*.row {*/
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    /*margin-left: 20px;*/
    /*position:relative;*/
/*}*/

/*.col-6{*/
    /*width:300px;*/
    /*float:left;*/
    /*position:relative;*/
/*}*/

.listConf {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;

}

.list-group-item {
    border: hidden;
}

.list-group {
    margin: 5px;
}
/* border: 1px solid #ddd; */
.widget-header {
    top: 15px;
    position: absolute;

}

.photowidth {
    width:100%\9;
}

.header-style {
    font-size: 200%;
    text-align: left;
    margin-top: 20px;
    overflow: hidden;
}
.para-style {
    overflow: hidden;
}

.verticle-line {
    width: 1px;
    background-color: grey;
    left: 33%;
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
}

.icon{
    padding-left: 3px;
    padding-right: 0px;;
}

.relative-position {
    position: relative;
}

.absolute-position {
    position: absolute;
}

.icon-on-image {
    top: 0px;
    right: 0px;
    z-index: 100;
    background-color: white;
}