<!--header-->
<div class="container-fluid paddingWheader">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <p class="navbar-text pull-right"><a href="page-new.view.client.html" class="navbar-link"><span class="glyphicon glyphicon-plus"></span></a></p>
            <p class="navbar-text pull-left"><a href="../website/website-list.view.client.html" class="navbar-link"><span class="glyphicon glyphicon-arrow-left"></span></a></p>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Pages</a>
            </div>
        </div>
    </nav>

    <!--content-->
    <div class="blueFont">
        <ul class="list-group">
            <li ng-repeat="page in model.pages" class="list-group-item">
                <div class="listConf pull-right">
                    <a href="#/page/{{model.page._id}}">
                        <span class="glyphicon glyphicon-cog"></span></a>
                </div>
                <a href="../widget/widget-list.view.client.html">{{page.name}}</a>
            </li>
        </ul>
    </div>


    <!--footer-->
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-footer">
                <p class="navbar-text pull-right">
                    <a href="../views/user/profile.view.client.html" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span></a></p>
            </div>
        </div>
    </nav>
</div>