<!--header-->
<div class="container-fluid paddingWheader">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <p class="navbar-text pull-right"><a href="#/user/{{model.uid}}/website/{{model.wid}}/page/new" class="navbar-link"><span class="glyphicon glyphicon-plus"></span></a></p>
            <p class="navbar-text pull-left"><a href="#/user/{{model.uid}}/website" class="navbar-link"><span class="glyphicon glyphicon-arrow-left"></span></a></p>
            <div class="navbar-header">
                <a class="navbar-brand" href="#/user/{{model.uid}}/website/{{model.wid}}/page">Pages</a>
            </div>
        </div>
    </nav>

    <!--content-->
    <div class="blueFont">
        <ul class="list-group">
            <li ng-repeat="page in model.pages" class="list-group-item">
                <div class="listConf pull-right">
                    <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{page._id}}">
                        <span class="glyphicon glyphicon-cog"></span></a>
                </div>
                {{page.name}}
            </li>
        </ul>
    </div>


    <!--footer-->
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-footer">
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.uid}}" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span></a></p>
            </div>
        </div>
    </nav>
</div>