<!--header-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.uid}}" class="navbar-link"><span class="glyphicon glyphicon-ok"></span></a></p>
        <p class="navbar-text pull-left"><a href="#/login" class="navbar-link"><span class="glyphicon glyphicon-arrow-left"></span></a></p>
        <div class="navbar-header">
            <a class="navbar-brand" href="#/user/{{model.uid}}">Profile</a>
        </div>
    </div>
</nav>

<!--content-->
<div class="container-fluid paddingWheader">
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username" type="text" class="form-control" id="username" placeholder="winterbreak">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input ng-model="model.user.email" type="email" class="form-control" id="email" placeholder="winterbreak@fun.com">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="model.user.firstname" type="text" class="form-control" id="first-name" placeholder="Winter">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="model.user.lastname" type="text" class="form-control" id="last-name" placeholder="Break">
        </div>
    </form>
    <a class="btn btn-success btn-block" href="#/user/{{model.user._id}}/website">Websites</a>
    <a class="btn btn-danger  btn-block" href="#/login">Logout</a>
</div>

<!--footer-->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.uid}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span></a></p>
        </div>
    </div>
</nav>
