

<div class="container-fluid paddingWheader">
    <label for="name">Name</label>
    <input ng-model="model.widget.name" id = "name" type="text" class="form-control" placeholder="name"/>
    <label for="text">Text</label>
    <input ng-model="model.widget.text" id = "text" type="text" class="form-control" placeholder="OLYMPIA, Wash. (AP) - The Washington State Patrol has disclosed numerous">
    <label for="url">URL</label>
    <input ng-model="model.widget.url" id = "url" type="basic-url" class="form-control" placeholder="http://www/youtube.com"/>
    <label for="width">Width</label>
    <input ng-model="model.widget.width" id = "width" type="percentage" class="form-control" placeholder="100%"/>
    <div>
        <a ng-click="model.deleteWidget(model.widget._id)" class="btn btn-danger btn-default btn-block space">Delete</a>
    </div>
</div>

