
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!--<p class="navbar-text pull-right"><a ng-click="model.updateWidget(model.widget._id, {widgetType: 'HEADER', text: model.widget.text, size: model.widget.size})" class="navbar-link"><span class="glyphicon glyphicon-ok"></span></a></p>-->
        <p class="navbar-text pull-right"><a ng-click="model.updateWidget()" class="navbar-link"><span class="glyphicon glyphicon-ok"></span></a></p>

        <p class="navbar-text pull-left"><a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" class="navbar-link"><span class="glyphicon glyphicon-arrow-left"></span></a></p>
        <div class="navbar-header">
            <a class="navbar-brand">Edit Widget</a>
        </div>
    </div>
</nav>

<div class="container-fluid paddingWheader">
    <form>
    <label for="name">Name</label>
    <input ng-model="model.widget.name" id = "name" type="text" class="form-control" placeholder="name"/>
    <label for="text">Text</label>
    <input ng-model="model.widget.text" id = "text" type="text" class="form-control" placeholder="OLYMPIA, Wash. (AP) - The Washington State Patrol has disclosed numerous">
    <label for="url">URL</label>
    <input ng-model="model.widget.url" id = "url" type="basic-url" class="form-control" placeholder="http://www/youtube.com"/>
    <label for="width">Width</label>
    <input ng-model="model.widget.width" id = "width" type="percentage" class="form-control" placeholder="100%"/>
    <!--<label for="upload">URL</label>-->
    <!--<input ng-model="model.widget.upload" id = "upload" type="file" class="form-control" placeholder="No File Choosen"/>-->
    </form>
    <form action="/api/uploads"  method="post" enctype="multipart/form-data">
        <input  name="myFile"   type="file" class="form-control"/>
        <input  name="width"    value="{{model.width}}" style="display: none"/>
        <input  name="widgetId" value="{{model.wgid}}"   style="display: none"/>
        <input  name="userId" value="{{model.uid}}" style="display: none"/>
        <input  name="pageId" value="{{model.pid}}" style="display: none"/>
        <input  name="websiteId" value="{{model.wid}}" style="display: none"/>
        <button type="submit"   class="btn btn-block btn-primary">Upload</button>
    </form>




    <div>
        <!--<a ng-click="model.updateWidget()" class="btn btn-success btn-default btn-block space">Update</a>-->
        <a ng-click="model.deleteWidget()" class="btn btn-danger btn-default btn-block space">Delete</a>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.uid}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span></a></p>
        </div>
    </div>
</nav>
