<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-right"><a href="#/widget/list" class="navbar-link"><span class="glyphicon glyphicon-ok"></span></a></p>
        <p class="navbar-text pull-left"><a href="#/widget/list" class="navbar-link"><span class="glyphicon glyphicon-arrow-left"></span></a></p>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Edit Widget</a>
        </div>
    </div>
</nav>

<div class="container-fluid paddingWheader">
    <form>
        <div ng-include="'views/widget/widget-'+model.widget.widgetType+'.view.client.html'"></div>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/profile" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span></a></p>
        </div>
    </div>
</nav>
