

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-left"><a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" class="navbar-link"><span class="glyphicon glyphicon-arrow-left"></span></a></p>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Choose Widget</a>
        </div>
    </div>
</nav>

<!--content-->
<div class="container-fluid paddingWheader">
    <div class="list-group">
        <div class="list-group-item"><a ng-click="model.createWidget(model.pid, {widgetType: 'HEADER'})">Header</a></div>
        <div class="list-group-item"><a href="#">Label</a></div>
        <div class="list-group-item"><a href="#">HTML</a></div>
        <div class="list-group-item"><a href="#">Text Input</a></div>
        <div class="list-group-item"><a href="#">Link</a></div>
        <div class="list-group-item"><a href="#">Button</a></div>
        <div class="list-group-item"><a ng-click="model.createWidget(model.pid, {widgetType: 'IMAGE'})">Image</a></div>
        <div class="list-group-item"><a ng-click="model.createWidget(model.pid, {widgetType: 'YOUTUBE'})">YouTube</a></div>
        <div class="list-group-item"><a href="#">Data Table</a></div>
        <div class="list-group-item"><a href="#">Repeater</a></div>
    </div>
</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/profile" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span></a></p>
        </div>
    </div>
</nav>

